{% extends "base.html" %}
{% set titulo_pagina = "Usuários" %}
{% block conteudo %}
<table class="table table-striped align-middle">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Data Nasc.</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.cpf }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.telefone }}</td>
            <td>{{ usuario.data_nascimento.strftime('%d/%m/%Y') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}